* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 3, 49), rgb(1, 1, 21));
  
}

img {
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


@media (min-width: 800px){
    header {
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 7vh;
        z-index: 1;
      }
      
      h1 {
        margin-left: 2rem;
        color: white;
      }
      
      h1 span {
        color: blue;
      }
      
      .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
      
        height: 4.5rem;
      }
      
      nav ul {
        background-color: rgba(255, 255, 255, 0);
      }
      
      nav ul li {
        background-color: rgba(0, 128, 0, 0);
        display: inline-block;
        line-height: 4rem;
        width: 10rem;
      }
      
      nav ul li a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 1rem;
        padding: 0rem 1rem;
      }
      
      nav ul li a:hover {
        background-image: linear-gradient(to bottom, rgb(17, 0, 58), rgb(97, 0, 53));
      
        border: solid 0.1rem rgba(4, 0, 255, 0.508);
        border-color: linear-gradient(to right, red, blue);
        border-radius: 0.2rem;
        color: white;
      }
      
      nav ul ul {
        display: none;
        position: absolute;
      }
      
      nav ul ul li {
        display: block;
      }
      
      nav ul li:hover > ul {
        display: block;
      
      }
      
      nav ul li:hover > ul li {
        display: inline-block;
        opacity: 1;
        border-radius: 0.2rem;
        line-height: 1rem;
        height: 4rem;
      }
      
      nav ul li:hover > ul li a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
      }
      
      #button-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        text-decoration: none;
        color: white;
        width: 5%;
        height: 50%;
        border-radius: 1rem;
        border: solid 0.15rem rgba(0, 72, 255, 0.433);
      }
      
      #button-login:hover {
        background-image: linear-gradient(
          to bottom,
          rgb(17, 0, 58),
          rgb(97, 0, 53)
        );
        border: none;
      }

      main {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        width: 100vw;
        height: 60vh;
        margin-top: 10rem;
        z-index: 1;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 0, 0, 0.152);
        width: 30%;
        height: 100%;
        margin: 0rem 2rem;
        border-radius: 1rem;
        border: solid 0.1rem white;
        padding: 1rem 1rem;
        color: rgba(255, 255, 255, 0.679);
      }

      .container:hover {
        background-color: rgba(255, 0, 0, 0.302);
      }
}